* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;

  overflow-x: hidden;
}

header {
  width: 100%;
  height: 96px;
  padding: 0 16px;

  display: flex;
  justify-content: space-around;

  overflow: hidden;
  align-items: center;
}

.icon {
  display: flex;

  align-items: center;
}

.icon img {
  width: 28px;
  height: 28px;
}

.icon span {
  margin-left: -4px;
  font-size: 20px;
}

.nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav li {
  list-style-type: none;

  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icons img {
  width: 24px;
  height: 24px;
}

.category {
  width: 100%;
}

.category ul {
  display: flex;
  gap: 20px;
}

.category li {
  list-style-type: none;
}

.category button {
  width: 70px;
  height: 40px;
  border-style: none;
}

.section img {
  width: 100%;

  justify-content: center;
}

.section2 {
  background-color: #f0f0f0;
  padding: 16px;
}

.note {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 16px;
  margin-top: 8px;

  width: 100%;
}

.note img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2 h2 {
  font-size: 20px;
  font-weight: 500;
}

.note p {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  padding: 36px;
  
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.button {
  border-style: none;
  border-radius: 24px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 12px;
}

.button img {
  height: 24px;
  width: 24px;
}

.section3 {
  padding: 16px;
}

.Sellers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Sellers h2 {
  font-weight: 500;
  font-size: 20px;
}

.text {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 350px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 9px;
  padding: 12px;
}

.image img {
  width: 100%;
  justify-content: center;
  height: 250px;
  object-fit: contain;
}

.about {
  display: flex;
  justify-content: space-around;
}

.par {
  display: flex;
  gap: 8px;
}

.button2 {
  border-style: none;
  border-radius: 24px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 8px 6px;
  margin-top: 8px;
}

.button2 img {
  height: 24px;
  width: 24px;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  background-color: white;
}
.text-about h3 {
  font-size: 16px;
  font-weight: 400;
}

.card2 {
  width: 250px;
  height: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
  text-align: center;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  background-color: #f0f0f0;
  margin-left: 20px;
  padding: 16px;
}


.section5{
  background: linear-gradient(to right, #800080, #00f);
  padding: 16px;
  text-align: center;
  color: #fff;
}



.text-image p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.section5 h2{
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.section5 h4{
  font-family: 'Times New Roman', Times, serif;
}

.section5 h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.section6{
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  
}

.image3 img{
  width:240px;
  height: 300px;
}

.text3{
  padding: 12px;
}
.text3 a{
  color: #000;
}

.text3 p{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.text3 h2{
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}

.footer{
  display: flex;
  justify-content: space-around;
  background-color: #000;
  color: white;
  padding: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list li{
  list-style-type: none;
  font-size: 14px;
  margin-top: 8px;
}
.list2 li{
  list-style: none;
  font-size: 14px;
  margin-top: 8px;
}

.input{
  font-size: 14px ;
  margin-left: 4px;
  margin-top: 4px;
}
.butcon{
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
}
.butcon input{
  outline: none;
  border: none;
}
.butcon button{
  background-color: black;
  color: white;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}